.reg-title {
  margin-top: 1rem;
  color: black;
  font-family: "Open Sans", sans-serif;
  font-size: 2.2rem;
  line-height: 2.5rem;
  font-weight: 100;
  margin: 15vh 0 3%;
}
.form-wrapper-reg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    input {
      border: 1px solid black;
      width: 160%;
      border-radius: 6px;
      height: 30px;
      margin: 3% 0;
      color: black;
      font-family: "Open Sans", sans-serif;
      padding: 4px 0 4px 10px;
      font-size: 16px;
    }
  }
  button {
    background-color: #005bbb;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 1.2rem;
    line-height: 2.2rem;
    margin-top: 2rem;
    border-radius: 6px;
    padding: 4px 14px;
  }
}
.registartion-error {
  color: red;
  font-family: "Open Sans", sans-serif;
  display: block;
  text-align: center;
  position: absolute;
  margin-top: 3.5rem;
}
