<div class="registration-panel-wrapper">
    <h2>Редагувати данні реєстратора</h2>
    <form [formGroup]="fullForm">
        <div class="registration-panel-main">
            <div class="panel-column">
                <p>Повне ім'я</p>
                <input [value]="register.fullName" formControlName="fullName" type="text">

                <p>ІНН</p>
                <input [value]="register.taxNumber" formControlName="taxNumber" type="text">

                <p>Пошта</p>
                <input [value]="register.email" formControlName="email" type="text">


            </div>
            <div class="panel-column">
                
                <p>Логін</p>
                <input [value]="register.login" formControlName="login" type="text">

                <p>Пароль</p>
                <input [value]="register.password" formControlName="password" type="text">

                <p>Назва організації</p>
                <input [value]="register.organization" formControlName="organization" type="text">

                <p>Статус</p>
                <input [value]="register.isActive" formControlName="isActive" name="isActive" list="isActive">
                <datalist id="isActive">
                    <option value={{Active.true}}>
                    <option value={{Active.false}}>
                </datalist>
            </div>
        </div>
    </form>
    <div class="create" *ngIf="isCreate">Редаговано запис</div>
    <button (click)="onSave()">Зберігти</button>
</div>
<a class="profile-link" (click)="onToggle()"> Повернутись до списку реєстраторів</a>