<div class="registration-panel-wrapper">
    <h2>Редагування відомостей</h2>
    <div class="registration-panel-main">
        <div class="panel-column">
            <p>Повне ім'я</p>
            <input [value]="prisoner.fullName" type="text">

            <p>Дата народження</p>
            <input [value]="prisoner.dateOfBirth.toISOString().substr(0, 10)" type="date">

            <p>ІНН</p>
            <input [value]="prisoner.taxNumber" type="text">

            <p>Реєстраційний номер</p>
            <input [value]="prisoner.registartionCode" type="text">

            <p>Номер справи</p>
            <input [value]="prisoner.caseNumber" type="text">
        </div>
        <div class="panel-column">
            <p>Місце реєстрації</p>
            <input  [value]="prisoner.live" type="text">
            <p>Стать</p>
            <input [value]="prisoner.gender" name="genger" list="genders">
            <datalist id="genders">
                <option value="Чоловіча">
                <option value="Жіноча">
            </datalist>

            <p>Дата винесення вироку</p>
            <input [value]="prisoner.dateOfTrial.toISOString().substr(0, 10)" type="date">

            <p>Дата початку покарання</p>
            <input [value]="prisoner.from.toISOString().substr(0, 10)" type="date">

            <p>Дата закінчення покарання</p>
            <input [value]="prisoner.till.toISOString().substr(0, 10)" type="date">

        </div>
        <div class="panel-column">
            <p>Причина ув'язнення</p>
            <input [value]="prisoner.reason" type="text">

            <p>стаття Кримінального кодексу</p>
            <input [value]="prisoner.article" type="text">

            <p>Орган, який здійснив вирок</p>
            <input [value]="prisoner.trial" type="text">

            <p>Пільги</p>
            <input [value]="prisoner.benefits" list="benefits">
            <datalist id="benefits">
                <option value="Є">
                <option value="Немає">
            </datalist>

            <p>Захворювання</p>
            <input [value]="prisoner.disease" type="text">

        </div>
    </div>
    <button (click)="onSave()">Редагувати</button>
</div>