.search-title {
  margin-top: 0;
  color: black;
  font-family: "Open Sans", sans-serif;
  font-size: 2.2rem;
  line-height: 2.5rem;
  font-weight: 100;
  text-align:  center;
  display: flex;
  justify-content: center;
  align-items: center;
  // margin: 15vh 0 3%;
  // width:60%;
  margin: -5vh 20vw 2vh;
}

.search-title{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.side-search-bar {
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #005bbb;
    padding: 1.5vh 2vw;
    border-radius: 10px;
    input {
      border: 1px solid black;
      width: 110%;
      border-radius: 10px;
      height: 30px;
      margin: 3% 5%;
      color: black;
      font-family: "Open Sans", sans-serif;
      padding: 4px 0 4px 10px;
      font-size: 16px;
    }
  }
  button {
    background-color: #005bbb;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 1.2rem;
    line-height: 2.2rem;
    margin-top: 2rem;
    border-radius: 6px;
    padding: 4px 14px;
  }
}

.search-main{
  margin: 3% 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  table {
    width: 100%;
  }
}
.search-table{
  width: 65vw;
}